<form action="#">
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" id="searchText" ng-model="$ctrl.query" ng-change="$ctrl.filter()">
	</div>
	<div class="form-group">
		<label for="platformFilter">Platform</label>
		<select class="form-control" name="platformFilter" id="platformFilter" ng-model="$ctrl.platforms.selectedOption" ng-options="platform.name for platform in $ctrl.platforms.availableOptions track by platform.id" ng-change="$ctrl.refresh()">
		</select>
	</div>
	<div class="form-group">
		<label for="sideFilter">Side</label>
		<select class="form-control" name="sideFilter" id="sideFilter" ng-model="$ctrl.sides.selectedOption" ng-options="side.name for side in $ctrl.sides.availableOptions track by side.id">
		</select>
	</div>
	<div class="form-group">
		<label for="sideFilter">Era</label>
		<select class="form-control" name="eraFilter" id="eraFilter" ng-model="$ctrl.eras.selectedOption" ng-options="era.name for era in $ctrl.eras.availableOptions track by era.id">
		</select>
	</div>
	<div class="form-group">
		<div>
			<button type="reset" class="btn btn-default" ng-click="$ctrl.reset()">Reset</button>
		</div>
	</div>
</form>