<div class="site">
  <div class="page">

      <app-header-narrow></app-header-narrow>

      <section class="browse">
        <div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-4">
					<form #browseForm="ngForm">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" >
							<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
						  		Name is required
							</div>
						</div>
						<div class="form-group">
							<label for="platform">Platform</label>
							<select class="form-control" id="platform" required [(ngModel)]="model.platform" name="platform">
								<option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="side">Side</label>
							<select class="form-control" id="side" required [(ngModel)]="model.side" name="side">
								<option *ngFor="let side of sides" [value]="side">{{side}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="era">Era</label>
							<select class="form-control" id="era" required [(ngModel)]="model.era" name="era">
								<option *ngFor="let era of eras" [value]="era">{{era}}</option>
							</select>
						</div>
					</form>
					<div class="row">
						<div class="col-3">
							<button class="btn btn-default" (click)="reset()">Reset</button>
						</div>
						<div class="col-3">
							<button class="btn btn-default" (click)="filter()">Test Filter</button>
						</div>
					</div>
				</div>
				<div class="col-sm-10 col-md-8">
					<app-browse [vehicles]="vehicles"></app-browse>
				</div>
			</div>
        </div>
      </section> <!-- end .browse -->

      <app-footer></app-footer>

  </div> <!-- /end .page -->
</div> <!-- /end .site -->