<div class="site">
  <div class="page">

    <app-header-narrow></app-header-narrow>

    <section class="intro">
      <div class="container">
        <h1 class="display-4">
          	About
          </h1>

        <div class="row">
          <blockquote>You crest the ridge and there it is...a tank...800 meters away. But what is it? You hesitate for too long and hear the crack of a high velocity shell rip overhead. If only you were able to positively identify that contact, things might have
            started to go differently...</blockquote>

          <p>Positive ID was created to help you practice to visually identify different kinds of military equipment. By using a flashcard-style quiz system and providing instant feedback on whether you are wrong or right, you will start to improve your
            skills and reduce your time on recognizing different kinds of military equipment.</p>
        </div>
      </div>
    </section>
    <!-- end .intro -->

    <app-footer></app-footer>

  </div>
  <!-- /end .page -->
</div>
<!-- /end .site -->
