<div class="site">
  <div class="page">

      <app-header-narrow></app-header-narrow>
      <!-- <h1>{{getTest().getNumberOfQuestions() | async}}</h1> -->

      <section class="quiz" *ngIf="getTest()">
		    <section class="progress">
          <div class="container-fluid">
            <ngb-progressbar type="success" [value]="getCurrentQuestionNumber()" [max]="getTotalNumberOfQuestions()">
              <b>{{getCurrentQuestionNumber()}} of {{getTotalNumberOfQuestions()}}</b>
            </ngb-progressbar>
          </div>
        </section> <!-- /end .progress -->

        <section class="question">
          <div class="container-fluid no-padding">
            <div class="text-center">
              <img class="img-fluid rounded " src="assets/{{getTest().getQuestion().getImagePath()}}">
              <ol class="choices">
                <div class="form-check form-check-inline" *ngFor="let possibleAnswer of getPossibleAnswers()">
                  <li>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio" value="{{possibleAnswer}}">{{possibleAnswer}}
                  </label>
                  </li>
                </div>
              </ol>
            </div>
          </div>
        </section> <!-- end .question -->
        <div class="container-fluid " style="background: #0f0; padding: 0.75rem;">
          <div class="container ">
            <div class="row " >
              <div class="col-8 col-sm-8 align-self-center" style="color: black;">
                Status message
              </div>
              <div class="col-2 col-sm-2 ">
                <button type="button" class="btn btn-lg btn-primary" id="nextButton" (click)="previousQuestion()">Prev</button>
              </div>
              <div class="col-2 col-sm-2 ">
                <button type="button" class="btn btn-lg btn-primary" id="nextButton" (click)="nextQuestion()">Next</button>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- end .quiz -->

      <app-footer></app-footer>

  </div> <!-- /end .page -->
</div> <!-- /end .site -->