<div class="site">
  <div class="page">

    <app-header-narrow></app-header-narrow>

    <section class="intro">
      <div class="container">
        <h1 class="display-4">
          	Contact
          </h1>

        <div class="row">
          <div class="col-sm-6 col-centered">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1>Contact Us</h1>
              </div>
              <form ng-submit="$ctrl.submit()">
                <div class="panel-body">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user blue"></i></span>
                      <input type="text" name="InputName" placeholder="Name" ng-model="$ctrl.name" class="form-control" autofocus="autofocus" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope blue"></i></span>
                      <input type="email" name="InputEmail" placeholder="Email Address" ng-model="$ctrl.email" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-comment blue"></i></span>
                      <textarea name="InputMessage" rows="6" class="form-control" type="text" ng-model="$ctrl.message" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Lf0pzoUAAAAAGDqvSIkYwb31CaAmSxXHDE6R0-M"></div>
                  </div>
                  <div class="">
                    <button type="submit" class="btn btn-info pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
                    <button type="reset" value="Reset" name="reset" class="btn">Reset <span class="glyphicon glyphicon-refresh"></span></button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end .intro -->

    <app-footer></app-footer>

  </div>
  <!-- /end .page -->
</div>
<!-- /end .site -->
