<div class="clearfix">
  <h3>Test selections</h3>
  <p>Here is what you have chosen for your test:
    <dl class="row">
      <dt class="col-md-4">
      Platform
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().platforms}}
      </dd>
      <dt class="col-md-4">
    Era
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().eras}}
      </dd>
      <dt class="col-md-4">
    Side
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().sides}}
      </dd>
      <dt class="col-md-4">
    Distance
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().distances}}
      </dd>
      <dt class="col-md-4">
    Optics
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().optics}}
      </dd>
      <dt class="col-md-4">
    Perspectives
    </dt>
      <dd class="col-md-8">
        {{wizardService.getQuizParms().perspectives}}
      </dd>
    </dl>
</div>
