<h3>Test selections</h3>
<p>Here is what you have chosen for your test:
  <dl class="row">
    <dt class="col-sm-3" class="col-sm-3">
      Platform
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().platforms}}
    </dd>
    <dt class="col-sm-3">
    Era
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().eras}}
    </dd>
    <dt class="col-sm-3">
    Side
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().sides}}
    </dd>
    <dt class="col-sm-3">
    Distance
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().distances}}
    </dd>
    <dt class="col-sm-3">
    Optics
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().optics}}
    </dd>
    <dt class="col-sm-3">
    Perspectives
    </dt>
    <dd class="col-sm-9">
      {{wizardService.getQuizParms().perspectives}}
    </dd>
  </dl>
