<div class="site">
  <div class="page">

    <app-header-narrow></app-header-narrow>

    <div class="container">
      <section id="quiz-builder">
        <div class="row">
          <div class="col-4">
            <app-quiz-parm-display [type]="stateService.getType()"></app-quiz-parm-display>
          </div>
          <div class="col-8">
            <h2>{{stateService.getTitle()}}</h2>
            <p>You may now choose any available optics. Often, this will be limited to Naked Eye, but some platforms can be viewed through specialized optics.</p>
            <form name="quizBuilderForm" class="form-horizontal">
              <div class="form-group">
                <label for="opticsFilter">Optics</label>
                <select class="form-control" id="optics" [(ngModel)]="wizardService.optics.selectedOption.id" name="optics">
                  <option *ngFor="let optic of getOptics().availableOptions" [value]="optic.id">{{optic.name}}</option>
    					</select>
              </div>
              <div class="clearfix">
                <button type="button" class="btn btn-primary float-left" (click)="back()">Previous</button>
                <button type="button" class="btn btn-primary float-right" (click)="next()">Next</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- end .quiz-builder -->
    </div>

    <app-footer></app-footer>

  </div>
  <!-- /end .page -->
</div>
<!-- /end .site -->
