<div class="form-group">
  <label for="maxQuestions">Maximum number of questions</label>
  <input class="form-control" type="number" id="maxQuestions" name="maxQuestions"
    [(ngModel)]="maxQuestions" #ctrl="ngModel" customMin="1" required>
  <div *ngIf="ctrl.invalid && (ctrl.dirty || ctrl.touched)" class="alert alert-danger">
    <div *ngIf="ctrl.errors.required">
      You must specify a number
    </div>
    <div *ngIf="ctrl.errors?.customMin">
      You must choose a number greater than 0
    </div>
  </div>
</div>
