<div class="site">
  <div class="page">

      <app-header-narrow></app-header-narrow>

      <section class="intro">
        <div class="container">
        	<h1 class="display-4">
          	Privacy Policy
          </h1>

          <div class="row">
            <p>By accessing or using the Positive ID web site, you agree to the terms of this Online Privacy Policy, as outlined below. If you do not agree to these terms, please do not access or use this site.</p>

			<h3>Collection of Personal Information</h3>
			<p>When you engage in certain activities on this site, you may be asked to provide certain information about yourself by filling out and submitting an online form. It is completely optional for you to engage in these activities. If you elect to engage in these activities, however, you may be required to provide personal information, such as your name, mailing address, e-mail address, and other personal identifying information.</p>

			<p>When you submit personal information, you understand and agree that Digital Praxis may transfer, store, and process your information in any of the countries in which Digital Praxis maintain offices, including without limitation, the United States and Canada.</p>

			<p>Digital Praxis collects this information in order to record and support your participation in the activities you select. Digital Praxis also uses information that you provide as part of our effort to keep you informed about product upgrades, special offers, and other Digital Praxis products and services. Digital Praxis will never sell or share your information with other companies.</p>
          </div>
        </div>
      </section> <!-- end .intro -->

      <app-footer></app-footer>

  </div> <!-- /end .page -->
</div> <!-- /end .site -->