<h2>Browse Database</h2>
<p>Here are the current vehicles in Positive ID</p>
<div class="row">
	<div class="col-sm-6 col-md-4" *ngFor="let vehicle of vehicles
	| nameFilter: 'name' : nameFilter | slice:(page-1)*6:(page)*6">
		<a (click)="popUp(vehicle)">
			<div class="thumbnail">
				<div class="caption">
					<h3>{{vehicle.name}}</h3>
				</div>
				<img src="assets/{{vehicle.image_dir}}/{{vehicle.images[0].img_sm}}" alt="{{vehicle.name}} side">
				<img src="assets/{{vehicle.image_dir}}/{{vehicle.images[1].img_sm}}" alt="{{vehicle.name}} front">
			</div>
		</a>
	</div>
</div>
<div class="row" *ngIf="vehicles">
	<div class="col-12 my-2">
		<app-pagination [collectionSize]="vehicles.length" [page]="page" (pageChanged)="page=$event"></app-pagination>
	</div>
</div>
