<div class="site">
  <div class="page">

      <app-header-narrow></app-header-narrow>

      <section class="browse">
        <div class="container">
        	<div class="row">
        		<div class="col">
		        	<h1>
		        		Browse
		          	</h1>
		        </div>
          	</div>
          	<div class="row">
          		<div class="col">
          			<ul>
					  <li *ngFor="let vehicle of vehicles">
					      {{vehicle.name}} - {{vehicle.class}} - {{vehicle.nationality}}
					    <ul>
					  		<li *ngFor="let image of vehicle.images">
					  			{{image.img_lg}} - {{image.perspective}} - {{image.distance}}
					  		</li>
					  	</ul>
					  </li>
					</ul>
          		</div>
          	</div>
        </div>
      </section> <!-- end .browse -->

      <app-footer></app-footer>

  </div> <!-- /end .page -->
</div> <!-- /end .site -->