.intro {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  background-color: #fff3d4;
  color: black;
  border-left: 5px solid #f6b73c;
  font-family: zillaslab,Palatino,"Palatino Linotype",serif;
  font-size: 1.25em;
}
