<div class="site">
  <div class="page">

    <app-header-narrow></app-header-narrow>

    <div class="container">
      <section id="quiz-builder">
        <div class="row">
          <div class="col-4">
            <app-quiz-parm-display></app-quiz-parm-display>
          </div>
          <div class="col-8">
            <h2>{{stateService.getTitle()}}</h2>
            <p>Which perspectives would you like to view from? Chose all that apply.</p>
            <p>
              To make multiple selections, hold down <kbd>CTRL</kbd> and click on each perspective you would
              like to include. You can also drag-select multiple values, if you prefer.
            </p>
            <form #thisForm="ngForm" class="form-horizontal">
              <div class="form-group">
                <label for="perspectives">Perspectives</label>
                <select class="form-control" id="perspectives" [(ngModel)]="wizardService.perspectives.selectedOption"
                  #userInput="ngModel" name="perspectives" multiple required>
                  <option *ngFor="let perspective of getPerspectives().availableOptions" [value]="perspective.id">{{perspective.name}}</option>
    					</select>
              <div *ngIf="userInput.invalid && (userInput.dirty || userInput.touched)"
                     class="alert alert-danger">
                <div *ngIf="userInput.errors.required">
                  You must choose at least one vehicle for your test
                </div>
              </div>
              </div>
              <div class="clearfix">
                <button type="button" class="btn btn-primary float-left" (click)="back()">Previous</button>
                <button type="button" class="btn btn-primary float-right" (click)="next()" [disabled]="!thisForm.form.valid">Next</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- end .quiz-builder -->
    </div>

    <app-footer></app-footer>

  </div>
  <!-- /end .page -->
</div>
<!-- /end .site -->
